fix pyang errors in l3nm

 pyang -f tree --ietf ietf-l3vpn-ntw.yang
ietf-l3vpn-ntw.yang:1301: error: RFC 8407: 4.14: statement "leaf" must have a "description" substatement
ietf-l3vpn-ntw.yang:1334: error: RFC 8407: 4.14: statement "container" must have a "description" substatement
ietf-l3vpn-ntw.yang:1335: error: RFC 8407: 4.14: statement "leaf" must have a "description" substatement
ietf-l3vpn-ntw.yang:1338: error: keyword "units" not in canonical order (see RFC 6020, Section 12)
ietf-l3vpn-ntw.yang:1341: error: RFC 8407: 4.14: statement "leaf" must have a "description" substatement
ietf-l3vpn-ntw.yang:1344: error: keyword "units" not in canonical order (see RFC 6020, Section 12)
